{% extends "templates/web.html" %}

<!-- Page Title -->
{% block title %}{{ _("Cart") }}{% endblock %}

{% block page_content %}

<!-- Page Heading -->
<h1>{{ _("Cart") }}</h1>

<div>
    {% if items %}
    <div>
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Product</th>
                        <th scope="col">Rate(₹)</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount(₹)</th>
                        <th scope="col">
                            <button class="btn btn-outline-danger btn-sm font-weight-bold" title="Remove all Items"
                                onclick="remove_all_items()">x</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>
                            <span>
                                {% if item.image %}
                                <img src="{{item.image}}" height="40" width="40" />
                                {% endif %}
                                {{item.name}}
                            </span>
                        </td>
                        <td>{{item.rate}}</td>
                        <td>
                            <span class="font-weight-bold">
                                {% if item.qty > 1 %}
                                <button class="btn btn-outline-secondary btn-sm"
                                    onclick='update_qty("{{item.code}}",-1)'>-</button>
                                {% else %}
                                <button class="btn btn-outline-secondary btn-sm" disabled>-</button>
                                {% endif %}

                                <span class="font-weight-normal">&nbsp;{{item.qty}}&nbsp;</span>

                                {% if item.qty != item.in_stock %}
                                <button class="btn btn-outline-secondary btn-sm"
                                    onclick='update_qty("{{item.code}}",1)'>+</button>
                                {% else %}
                                <button class="btn btn-outline-secondary btn-sm"
                                    onclick='max_qty("{{item.in_stock}}")'>+</button>
                                {% endif %}
                            </span>
                        </td>
                        <td>{{item.amount}}</td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm font-weight-bold"
                                onclick='remove_item("{{item.code}}")'>x</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col" colspan="4">Total</th>
                        <th scope="col">{{total_amount}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% if total_amount %}
        <button class="btn btn-success float-right" onclick="checkout()">Checkout</button>
        {% else %}
        <button class="btn btn-success float-right" disabled>Checkout</button>
        {% endif %}
    </div>
    {% else %}
    <div>
        <b>Your cart is empty!☹️</b>
    </div>
    {% endif %}
</div>

{% endblock %}